<ion-header>
    <ion-navbar>
        <ion-buttons start *ngIf="isModal">
            <button ion-button (click)="cancel()">
                Cancel
            </button>
        </ion-buttons>
        <ion-title>
            Login
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
    <div class="content">
        <div class="logo">
            <span>[LOGO]</span>
        </div>
        <div class="company">
            <div class="name"><span>[CINEMA NAME]</span></div>
            <div class="link"><a href="http://cinema-website.com" target="_blank">[http://cinema-website.com]</a></div>
        </div>
        <div class="login-form">
            <ion-list>
                <ion-item>
                    <ion-input type="email" placeholder="Email" [(ngModel)]="creds.email" clearInput></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" placeholder="Password" [(ngModel)]="creds.password" clearInput></ion-input>
                </ion-item>
            </ion-list>
            <button ion-button block color="primary" [disabled]="canLogin() == false" (click)="login()">
                <span>Login</span>
            </button>
            <button ion-button block color="dark" (click)="fakeLogin()">
                <span>Fake Login</span>
            </button>
        </div>
        <div class="login-separator">
            <div></div>
            <div class="text">OR</div>
            <div></div>
        </div>
        <div class="login-social">
            <button ion-button clear color="primary" (click)="facebook()" icon-left>
                <ion-icon name="logo-facebook"></ion-icon>
                <span>Log In With Facebook</span>
            </button>
        </div>
        <ion-spinner *ngIf="loginOp.pending"></ion-spinner>
    </div>
</ion-content>

<ion-footer no-border>
    <div class="login-signup">
        <span class="text">Don't have an account?</span>
        <button ion-button clear color="primary" (click)="signup()">Sign Up</button>
    </div>
</ion-footer>