<ion-header>
    <ion-navbar>
        <ion-buttons start *ngIf="isModal">
            <button ion-button (click)="cancel()">
                Cancel
            </button>
        </ion-buttons>
        <ion-title>
            Login
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="content">
        <div class="logo">
            <img src="https://cabinet.planetakino.ua/StaticContent/images/logo.png">
        </div>
        <div class="company">
            <div class="name"><span>Planeta Kino</span></div>
            <div class="link"><a href="http://planetakino.ua" target="_blank">http://planetakino.ua</a></div>
        </div>
        <div class="login-social">
            <button ion-button color="primary" (click)="loginFacebook()" icon-left>
                <ion-icon name="logo-facebook"></ion-icon>
                <span>Login with Facebook</span>
            </button>
        </div>
        <div class="login-separator" padding>
            <div></div>
            <div>OR</div>
            <div></div>
        </div>
        <div class="login-username">
            <ion-list inset>
                <ion-item>
                    <ion-input type="email" placeholder="Email" [(ngModel)]="creds.email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input type="password" placeholder="Password" [(ngModel)]="creds.password"></ion-input>
                </ion-item>
            </ion-list>
            <div>
                <button ion-button color="primary" [disabled]="canLogin() == false" (click)="login()">
                    <span>Login</span>
                </button>
                <span>OR</span>
                <button ion-button color="secondary" (click)="register()">
                    <span>Register</span>
                </button>
            </div>
        </div>
        <ion-spinner *ngIf="loggingIn$ | async"></ion-spinner>
    </div>
</ion-content>