<svg class="content" panZoom [originalWidth]="width" [originalHeight]="height">
    <svg class="g-screen" width="100%">
        <rect class="screen" width="100%" y="30"></rect>
        <text class="text" x="50%" text-anchor="middle" alignment-baseline="central">Screen</text>
    </svg>
    <svg class="g-seats" y="100">
        <rect *ngFor="let seat of hall.seats; trackBy:trackByFn" 
        [attr.width]="seat.width" [attr.height]="seat.height" 
        [attr.x]="seat.x" [attr.y]="seat.y"
        rx="6" ry="6"

        class="seat"
        [ngClass]="{'available': seat.available == true}"
        (tap)="onSeatToggle(seat)" />

        <rect *ngFor="let seat of selection; trackBy:trackByFn" 
        [attr.width]="seat.width" [attr.height]="seat.height" 
        [attr.x]="seat.x" [attr.y]="seat.y"
        rx="6" ry="6"

        class="seat available selected"
        (tap)="onSeatToggle(seat)" />

        <text *ngFor="let seat of selection; trackBy: trackByFn" class="text"
        [attr.width]="seat.width" [attr.height]="seat.height" 
        [attr.x]="seat.x + seat.width/2" [attr.y]="seat.y + seat.height/2">
            {{seat.seat}}
        </text>
    </svg>
</svg>