<ion-header>
    <ion-navbar>
        <ion-title>
            {{movie.name}}
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding-left padding-right padding-bottom scroll="false">

    <datepicker [dates]="dates" [selected]="selectedDate" (change)="onDateChange($event)"></datepicker> 

    <div class="booking-time">
        <div class="tech" [ngClass]="{'center': technologies?.length == 1}" radio-group [ngModel]="selectedTechId" (ionChange)="onTechChange($event)">
            <ng-container *ngFor="let tech of technologies">
                <ion-item>
                    <ion-label>
                        {{tech}}
                    </ion-label>
                    <ion-radio [value]="tech" [checked]="tech == selectedTechId"></ion-radio>
                </ion-item>
            </ng-container>
        </div>
        <div class="time" [ngClass]="{'center': filteredShowtimes?.length <= 3}" radio-group [ngModel]="selectedShowtime?.id" (ionChange)="onTimeChange($event)">
            <ng-container *ngFor="let showtime of filteredShowtimes">
                <ion-item>
                    <ion-label>
                        {{showtime.time | moment:"HH:mm"}}
                    </ion-label>
                    <ion-radio [value]="showtime.id" [checked]="showtime.id == selectedShowtime?.id" [disabled]="!isAfterNow(showtime.time)"></ion-radio>
                </ion-item>
            </ng-container>
            <div *ngIf="filteredShowtimes?.length % 3 == 2">
                <ion-item style="visibility: hidden">
                    <ion-label>
                        00:00
                    </ion-label>
                </ion-item>
            </div>
        </div>
    </div>

    <div class="seats-container">
        <div class="info" *ngIf="selectedShowtime == null">  
            Please select time to be able to select seats
        </div>
        <ion-spinner *ngIf="hallLoading$ | async"></ion-spinner>
        <hall *ngIf="hall$ | async" [hall]="hall$ | async" [(selection)]="seats"></hall>
    </div>
 
</ion-content>

<ion-footer>
    <ion-toolbar padding-left padding-right>
        <div class="cart-total">
            <span class="cart-selection" *ngIf="seats?.length > 0">
                <span class="cart-row" *ngFor="let row of getRows(seats)">
                    <span class="cart-row-label">{{row}}</span>
                    <span class="cart-seat" *ngFor="let seat of filterByRow(row, seats)">{{seat.seat}}</span>
                </span>
            </span>
            <span class="cart-price" *ngIf="seats?.length > 0">- {{getTotalSum(seats)}}грн.</span>
        </div>
        <button class="checkout" ion-button color="secondary" (click)="checkout()" icon-left [disabled]="seats?.length == 0" end>
            <ion-icon name="cart"></ion-icon>
            Checkout
        </button>
    </ion-toolbar>
</ion-footer>