
ion-scrollzoom {
  position: relative;
  display: block;
}

ion-scrollzoom.scroll-x .scroll-content {
  overflow-x: auto;
}

ion-scrollzoom.scroll-y .scroll-content {
  overflow-y: auto;
}

ion-scrollzoom[center] .scroll-content {
  display: flex;

  align-items: center;
  justify-content: center;
}

ion-scrollzoom .scroll-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;

  background-color: azure;
}

ion-scrollzoom {
    .scroll-zoom-wrapper {
        position: absolute;
    }
}