hall {
    flex: 1;
    display: flex;
    position: relative;

    border: 1px solid red;

    svg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;

        background-color: azure;

        touch-action: none;
    }
}