booking-cart {

    .cart-total {
        align-self: center;

        display: flex;
        flex-direction: row;
        align-items: center;

        .cart-selection {
            display: flex;
            flex-direction: column;

            margin-right: .4em;
            
            color: #313131;

            .cart-row {
                margin-bottom: 2px;

                .cart-row-label {
                    display: inline-block;
                    margin-right: 1px;
                    margin-bottom: 1px;
                    padding: 3px 4px;
                    border-radius: 2px;
                    text-align: center;
                    font-size: .9em;
                    color: white;
                    background-color: #555;
                    width: 1.7em;
                }
            }

            .cart-seat {
                display: inline-block;
                width: 1.7em;
                
                margin-right: 1px;
                margin-bottom: 1px;
                padding: 3px 4px;

                background-color: orange;
                border-radius: 2px;

                text-align: center;
                font-size: .9em;
                color: white;

                white-space: nowrap;
            }
        }

        .cart-price { 
            color: #1aa3e0;
            font-size: .9em;
            font-weight: bold;
            white-space: nowrap;
        }

    }

}