@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

page-ticket {

    font-size: 16px;

    .content {

        .scroll-content {
            display: flex;
            flex-direction: column;
        }

        .movie-summary {
            text-align: center;

            .movie-title {
                font-size: 1.2em;
                font-weight: bold;
            }
        }

        .slides-container {
            position: relative;

            padding: 0 1em;

            &.no-swiper {
                .slides-swiper {
                    display: none;
                }
            }

            .slides-swiper {

                width: .5em;
                height: .5em;

                border-width: 0 .2em .2em 0;
                border-style: solid;
                border-color: #1EA1DC;

                background: transparent;
                
                overflow: visible;

                position: absolute;
                top: 50%;
                margin-top: -.25em;
                z-index: 10;
                cursor: pointer;

                &.slides-swiper-prev {
                    transform: rotate(135deg); 
                    left: 0;
                }

                &.slides-swiper-next {
                    transform: rotate(315deg);
                    right: 0;
                }

                &.swiper-button-disabled {
                    opacity: .5;

                    cursor: auto;
                    pointer-events: none;
                }
            }

            .slides {
                .item {
                    padding: 0;

                    //background-color: gray;
                    //border: 1px solid black;

                    .item-inner {
                        padding: 0;

                        border: none;

                        .input-wrapper {
                            overflow: visible;
                        }
                    }

                    .label {
                        margin: 0;

                        text-align: center;
                    }

                    &.item-radio-checked {
                        //font-weight: bold;
                    }

                    .radio {
                        margin: 0;
                        .radio-icon {
                            display: none;
                        }
                    }
                }
            }
        }

        .booking-date {

            margin-bottom: 1em;

            .item {
                .dayOfWeek {
                    color: #aaa;
                    
                    text-align: center;

                    span {
                        font-size: .5em;
                        text-transform: uppercase;
                    }
                }

                .day {
                    margin: 0 auto;

                    width: 2em;
                    height: 2em;
                    line-height: 2em;

                    color: #222;

                    text-align: center;
                }

                &.item-radio-checked {
                    .day {
                        border-radius: 50%;
                        background-color: #1EA1DC;
                        color: white;
                        text-shadow: 0 0 1px white;
                    }
                }
            }
        }

        .booking-time {

            .item {
                width: auto;
                min-height: auto;

                padding: 0;

                .item-inner {
                    padding: 0;

                    border: none;

                    .input-wrapper {
                        overflow: visible;
                    }
                }

                .label {
                    margin: 0;
                }
                &.item-radio-checked {
                }

                .radio {
                    margin: 0;
                    .radio-icon {
                        display: none;
                    }
                }
            }

            display: flex;
            flex-direction: row;
            align-items: stretch;

            .tech {
                width: 7.4em;
                max-width: 7.4em;
                margin-right: 1em;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                border-right: 1px solid #1EA1DC;

                &.center {
                    justify-content: center;
                }

                .item {
                    text-align: right;
                    
                    .label {
                        padding: .2em .5em .2em .2em;

                        position: relative;

                        font-size: .8em;
                        text-transform: uppercase;
                    }

                    &.item-radio-checked {
                        .label {
                            background-color: #1aa3e0;
                            color: white;
                            border-radius: 2px;                           
                        }
                    }

                    .radio-icon {
                        display: block;
                        visibility: hidden;

                        &.radio-checked {
                            visibility: visible;
                        }

                        .radio-inner {
                            width: 12px;
                            height: 12px;

                            left: 11px;

                            background-color: #1EA1DC;
                            border-color: #1EA1DC;
                        }
                    }
                }
            }

            .time {
                margin-bottom: -.4em;
                padding: .3em 0;

                flex: 1;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                &.center {
                    align-items: center;

                    .item {
                        height: 2.3em;
                    }
                }

                .item {
                    min-height: auto;
                    max-height: 2.3em;

                    margin-right: .4em;
                    margin-bottom: .4em;
                    padding: .2em .4em;

                    border-radius: 2px;

                    background-color: white;
                    border: 1px solid #1aa3e0;
                    color: #1aa3e0;

                    text-align: center;

                    &.item-radio-disabled {
                        background-color: white;
                        border: 1px solid #e1e1e1;
                        color: #e1e1e1;

                        .label {
                            opacity: 1;
                        }
                    }

                    &.item-radio-checked {
                        border-color: #1aa3e0;
                        background-color: #1aa3e0;
                        color: white;

                        .label {
                            color: white;
                        }
                    }


                }
            }
        }

        .seats-container {
            flex: 1;
            display: flex;

            margin: 0 -12px;

            .spinner {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -14px;
                margin-left: -14px;
            }

            .info {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;

                text-align: center;

                font-size: .8em;
                color: #222;
            }
        }
    }

    ion-footer {
        ion-toolbar.toolbar {
            overflow: visible;
            contain: none;

            .toolbar-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .cart-total {
                align-self: flex-start;

                display: flex;
                flex-direction: column;

                margin-top: .4em;
                margin-bottom: .4em;

                .cart-seats {
                    color: #313131;
                }

                .cart-price { 
                    color: black;
                    font-size: 1.2em;
                    font-weight: bold;
                }

            }
            .checkout {
                align-self: flex-end;

                //margin-top: -2.6em;
                //margin-bottom: .6em;
            }
        }
    }

}