<ion-header>
    <ion-navbar>
        <ion-title *ngIf="ticket != null">{{ticket.time | moment:"D MMMM HH:mm"}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ng-container *ngIf="ticket != null">
        <div class="ticket-content">
            <div class="movie-content">
                <div class="movie-summary">
                    <div class="poster">
                        <div class="content">
                            <img src="{{movie?.poster}}">
                        </div>
                    </div>
                    <div class="item-content">
                        <span class="title">{{movie?.name}}</span>
                        <span class="country">{{movie?.countries | join: ", "}}</span>
                        <span class="genre ">{{movie?.genres | join:" | "}}</span>
                        <span class="line"> 
                            <span class="time">{{duration(movie?.duration)}}</span>
                        </span>
                        <span class="tech">{{cinema.technologies[ticket.techId]?.name}}</span>
                    </div> 
                </div>
            </div>
            <div class="location-content">
                <ion-icon name="pin"></ion-icon>
                <div class="cinema">
                    <div class="name">{{cinema.name}}</div>
                    <address>{{cinema.address}}</address>
                </div>
            </div>

            <div class="seats-content">
                <ion-slides pager="true">
                    <ion-slide *ngFor="let seat of ticket.seats" class="seat-container">
                        <div class="seat-info seat-info-main">
                            <div class="screen">
                                <span>screen</span>
                                <span>{{hall.name}}</span>
                            </div>
                            <div class="row">
                                <span>row</span>
                                <span>{{seat.row}}</span>
                            </div>
                            <div class="seat">
                                <span>seat</span>
                                <span>{{seat.seat}}</span>
                            </div>

                        </div>
                        <div class="seat-info seat-info-other">
                            <div class="price">
                                <span>price</span>
                                <span>₴{{seat.price.priceTicketInclDiscount}}</span>
                            </div>
                            <div class="date">
                                <span>date</span>
                                <span>{{ticket.time | moment:"D/MM/YYYY"}}</span>
                            </div>
                            <div class="time">
                                <span>time</span>
                                <span>{{ticket.time | moment:"HH:mm"}}</span>
                            </div>
                        </div>
                        <div class="seat-barcode">
                            <barcode [data]="seat.ticketBarcode" format="EAN13" width="2"></barcode>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
    </ng-container>
</ion-content>