@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

page-ticket {

    font-size: 16px;

    .movie-summary {
        text-align: center;

        .movie-title {
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    .booking {

        .booking-date-container {
            position: relative;

            .booking-date-swipe {
                width: .6em;
                height: .6em;

                border-width: 0 .2em .2em 0;
                border-style: solid;
                border-color: #1EA1DC;

                background: transparent;
                
                overflow: visible;

                position: absolute;
                top: 50%;
                margin-top: 0;
                z-index: 10;
                cursor: pointer;

                &.swiper-prev {
                    transform: rotate(135deg); 
                    left: 0;
                }

                &.swiper-next {
                    transform: rotate(315deg);
                    right: 0;
                }

                &.swiper-button-disabled {
                    opacity: .35;
                    cursor: auto;
                    pointer-events: none;
                }
            }
        }

        .booking-date {
            .booking-date-item {
                padding: 0;

                .item-inner {
                    padding: 0;

                    border: none;

                    .input-wrapper {
                        overflow: visible;
                    }
                }

                .label {
                    margin: 0;
                }

                .dayOfWeek {
                    color: #aaa;
                    
                    text-align: center;

                    span {
                        font-size: .6em;
                        text-transform: uppercase;
                    }
                }

                .day {
                    margin: 0 auto;

                    width: 2em;
                    height: 2em;
                    line-height: 2em;

                    color: #222;

                    text-align: center;
                }

                &.item-radio-checked {
                    .day {
                        border-radius: 50%;
                        background-color: #1EA1DC;
                        color: white;
                        text-shadow: 0 0 1px white;
                    }
                }

                .radio {
                    margin: 0;
                    .radio-icon {
                        display: none;
                    }
                }
            }

        }
    }

    ion-footer {
        ion-toolbar.toolbar {
            overflow: visible;
            contain: none;

            .toolbar-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .cart-total {
                align-self: flex-start;

                display: flex;
                flex-direction: column;

                margin-top: .4em;
                margin-bottom: .4em;

                .cart-seats {
                    color: #313131;
                }

                .cart-price { 
                    color: black;
                    font-size: 1.2em;
                    font-weight: bold;
                }

            }
            .checkout {
                align-self: flex-end;

                //margin-top: -2.6em;
                //margin-bottom: .6em;
            }
        }
    }

}