<ion-header>
    <ion-navbar>
        <ion-title>
            Купівля квитка
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <div class="movie-summary">
        <div class="poster">
            <div class="content">
                <img src="{{movie.poster}}">
            </div>
        </div>
        <div class="item-content">
            <span class="title">{{movie.name}}</span>
            <span class="country">{{movie.countries | join: ", "}}</span>
            <span class="genre ">{{movie.genres | join:" | "}}</span>
            <span class="line"> 
                    <span class="time">{{duration(movie.duration)}}</span>
            </span>
        </div>
    </div>
    <div class="booking">
        <ion-segment [(ngModel)]="tech" (ionChange)="onTechChange()">
            <ng-container *ngFor="let item of techs">
                <ion-segment-button value="{{item}}">
                    {{item}}
                </ion-segment-button>
            </ng-container>
        </ion-segment>
        <ion-segment [(ngModel)]="date" (ionChange)="onDateChange()">
            <ion-segment-button *ngFor="let item of dates" value="{{item}}">
                {{item | date:"ddd D"}}
            </ion-segment-button>
        </ion-segment>
        <ion-segment [(ngModel)]="time" (ionChange)="onTimeChange()">
            <ion-segment-button *ngFor="let item of times" value="{{item}}">
                {{item | date:"HH:mm"}}
            </ion-segment-button>
        </ion-segment>
    </div>

</ion-content>