page-account {
    .logo {
        padding: 2em 0;
        text-align: center;

        img {
            margin-left: 20px;
        }
    }

    .company {
        margin-bottom: 1em;
        text-align: center;
        .name {
            span {
                font-size: 2em;
            }
        }
    }

    .account {
        display: flex;
        flex-direction: column;

        .profile {
            margin-bottom: 1em;
            text-align: center;

            .name span {
                font-size: 2em;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
