page-account {
    .logo {
        padding: 2em 0;
        text-align: center;

        img {
            margin-left: 20px;
        }
    }

    .company {
        margin-bottom: 1em;
        text-align: center;
        .name {
            span {
                font-size: 2em;
            }
        }
    }

    .no-account {
        text-align: center;

        .login-separator {
            display: flex;
            flex-direction: row;
            align-items: center;

            margin: 1em 0;

            div:first-child {
                flex: 1;
                height: 1px;
                margin-right: .5em;

                border-bottom: 1px dashed #666;
            }
            div:last-child {
                flex: 1;
                height: 1px;
                margin-left: .5em;

                border-bottom: 1px dashed #666;
            }
        }
    }

    .account {
        display: flex;
        flex-direction: column;

        .profile {
            margin-bottom: 1em;
            text-align: center;

            .name span {
                font-size: 2em;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
