page-account {
    .logo {
        padding: 2em 0;
        text-align: center;

        img {
            margin-left: 20px;
        }
    }

    .company {
        margin-bottom: 1em;
        text-align: center;
        .name {
            span {
                font-size: 2em;
            }
        }
    }

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
    }

    .account {
        display: flex;
        flex-direction: column;
        
        margin-top: 1em;

        .profile {
            margin-bottom: 1em;
            text-align: center;

            .name span {
                font-size: 2em;
            }
        }

        .barcode-container {
            margin-left: -16px;
            margin-bottom: 1em;
            text-align: center;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
